@model CustomerReading.Entities.Customer

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
<div class="form-group">
    <label for="exampleInputEmail1">Id</label>
    @Html.DisplayFor(model => model.Id, new { id = "txtId", Value = Model.Id, @class = "form-control" })
    @Html.HiddenFor(model => model.Id, new { id = "txtId", Value = Model.Id, @class = "form-control" })
</div>
    <div class="form-group">
        <label for="exampleInputPassword1">First Name</label>
        @Html.DisplayFor(model => model.FirstName, new { id = "txtFirstName", Value = Model.FirstName, @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        @Html.DisplayFor(model => model.LastName, new { id = "txtLastName", Value = Model.LastName, @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        @Html.DisplayFor(model => model.Email, new { id = "txtEmail", Value = Model.Email, @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Contact</label>
        @Html.DisplayFor(model => model.ContactNo, new { id = "txtContactNo", Value = Model.ContactNo, @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        @Html.DisplayFor(model => model.Address, new { id = "txtAddress", Value = Model.Address, @class = "form-control" })
    </div>

    @Html.ActionLink("Edit", "Create", new { id = Model.Id })
    @*<button onclick="location.href='@Url.Action("Delete", "Home", new { id = Model.Id })';return false;">Cancel</button>*@
    <button type="submit" class="btn btn-primary">Delete</button>
}